<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Aheadworks_BuildifyMobileAddon">
        <sequence>
            <module name="Aheadworks_Buildify"/>
            <module name="Aheadworks_MobileAppConnector"/>
            <module name="Aheadworks_MobileAppSubscription"/>
        </sequence>
    </module>
</config>
